*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  display: block;
  text-decoration: none;
}
li{
  list-style: none;
}
button{
  border: none;
  background-color: transparent;
}

.h1{
position: relative;
border: 3px solid goldenrod;
width: 100vw;
height: 100vh;
overflow: hidden;

}
/* 1번 화면 */
.nav1{
  display: flex;
  width: 400vw;
  transition: transform 300ms;
}
.nav1 li{
  height: 100vh;
  border: 3px solid darkblue;
  width: 100vw;
  
}
.nav1 img{
  width: 100vw;
  height: 100vh;
  
}
/* 방향키 */
.arrow-key1{
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  left: 50px;
  font-size: 40px;
    
}
.arrow-key1 i{
  color: chartreuse;
}

.arrow-key2{
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  right: 50px;
}
.arrow-key2 i{
  color: chartreuse;
 
}

/* 경고 판 */
.main{
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  border: 2px solid gray;
  width: 300px;
  height: 300px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  
}

 
/* 2번의 위치 스크로 가능 ??되면  이동 */

.h2{
  position: relative;
}
.h2 .manual-1{
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 20px;
  align-items: center;
  display: flex;
  height: 100px;
  font-weight: 700;
  background-color: rgb(196, 230, 232);
  padding: 16px;

}
.h2 .manual-1 a{
 
  color: black;
  
}

/* 로고 */

.manual-2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img1{
  border: 3px solid gold;
  margin: 50px 0;
  width: 400px;
  height: 100px;
}
.img1 img{
  width: 100%;
  height: 100px;
}
/* 메뉴 3개가지*/
.color .Point{
  margin-right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: cadetblue;
}
.color .Point:last-child{
  margin-right: 0;
}
.color{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -20px;
}
.img2{
  display: flex;
  border-radius: 30px;
  width: 1200px;
  height: 500px;
  background-color: cornflowerblue;
  opacity: .5;
}
/* 메뉴 3개가지 안에 메뉴3개 */
.boxs1{
  margin: 16px;
  width: 30%;
  height: 300px;
  border: 3px solid gray;
  overflow: hidden;
  position: relative;
}
.boxs1 img{
  width: 100% ;
  height: 300px;
}
.boxs1 p{
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color:sienna;
  
}
.box-A{
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  border: 3px solid firebrick;
  width: 1200px;
  margin-top: -400px;
}
/* 메뉴바 */
.menubar{
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-top: 300px;
  width: 950px;
  height: 500px;
  border-radius: 25px;
  border: 3px solid gold;
  background-color:thistle;
  box-shadow: 3px 2px 3px saddlebrown;
  
}
.main-bar{
  display: flex;
  background-color: rgb(191, 178, 178);
  height: 50px;
}
.main-bar:hover,
.main-bar i:hover{
  background-color: yellow;
  color: black;
  height: 50px;
}

.main-bar i{
  padding: 16px;
  font-size: 24px;
  color: gray;
}
.None{
  background-color: aqua;
  height: 50px;
  overflow: hidden;
  max-width: 0;
  transition: max-width 200ms ease-in-out;
}

.None li a{
  padding: 16px;
  
}
.None li a:hover{
  color: hotpink;
  font-weight: 700;
}
.None li:hover{
  background-color: azure;
}

.at{
  display: flex;
  max-width:700px;
  
  
}
.menubar > ul{
  margin: 20px 0;
  padding: 15px;
  display: flex;
}
/* 버튼 key  */
.Title-1{
  width: 350px;
  height: 80px;
  background-color: cadetblue;
  margin: 0 auto;
  font-weight: 700;
  font-size: 26px;
}
.Title-1:hover{
  color: brown;
  background-color: yellow;
}
/* 캐릭터 */
.master{
  position: absolute;
  right: 0;
  top: 0;
  animation: master 5s infinite ease-in-out;
 
}

@keyframes master {
  0% {
    transform: translate(0,0);
    transition: translate 300ms ease-in-out;
  }
  50% {
    
    transform: translate(-50%,50%);
  }
  100% {
    transform: translate(-100%,0%);
    
    
  }
 
}


/* 호버 */
.main-bar a:hover{
  color: yellowgreen;
}

/* 도움이 */
.png{
  z-index: 100;
  position: fixed;
  right: 30px;
  top: 30px;
  border: 2px solid gray;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

 }
.png img{
  width: 80px;
  height: 80px;
}
.png p{
  text-align: center;
}
