*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  display: block;
  text-decoration: none;
}
li{
  list-style: none;
}
button{
  border: none;
  background-color: transparent;
}

.h1{
position: relative;
border: 3px solid goldenrod;
width: 100vw;
height: 100vh;
overflow: hidden;

}
/* 1번 화면 */
.nav1{
  display: flex;
  width: 400vw;
  transition: transform 300ms;
}
.nav1 li{
  height: 100vh;
  border: 3px solid darkblue;
  width: 100vw;
  
}
.nav1 img{
  width: 100vw;
  height: 100vh;
  
}
/* 방향키 */
.arrow-key1{
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  left: 50px;
  font-size: 40px;
    
}
.arrow-key1 i{
  color: chartreuse;
}

.arrow-key2{
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  right: 50px;
}
.arrow-key2 i{
  color: chartreuse;
 
}

/* 경고 판 */
.main{
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  border: 2px solid gray;
  width: 300px;
  height: 300px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  
}

 
/* 2번의 위치 스크로 가능 ??되면  이동 */

.h2{
  position: relative;
}
.h2 .manual-1{
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 20px;
  align-items: center;
  display: flex;
  height: 100px;
  font-weight: 700;
  background-color: rgb(196, 230, 232);
  padding: 16px;

}
.h2 .manual-1 a{
 
  color: black;
  
}

/* 로고 */

.manual-2{
  border: 3px solid gold;
  width: 100%;
  display: flex;
  justify-content: center;
}
.img1{
  /
}
.img1 img{
  padding: 20px 0;
  width: 200px;
  height: 500px;
}


/* 도움이 */
.png{
  position: fixed;
  right: 30px;
  top: 30px;
  border: 2px solid gray;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

 }
.png img{
  width: 80px;
  height: 80px;
}
.png p{
  text-align: center;
}