*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  display: block;
  text-decoration: none;
}
li{
  list-style: none;
}
.h1{
position: relative;
width: 100vw;
height: 100vh;
}
/* 1번 화면 */
.nav1{
  display: flex;
  width: 400vw;
}
.nav1 li{
  height: 100vh;
  border: 3px solid darkblue;
  width: 100vw;
}


.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  border: 2px solid gray;
  width: 300px;
  height: 300px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  
}
 
/* 2번의 위치 스크로 가능 ??되면  이동 */

.h2{
  position: relative;
}
.h2 div{
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 20px;
  align-items: center;
  display: flex;
  height: 100px;
  font-weight: 700;
  background-color: cadetblue;
}

/* 도움이 */
.png{
  position: fixed;
  right: 30px;
  top: 30px;
  border: 2px solid gray;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

 }
.png img{
  width: 80px;
  height: 80px;
}
.png p{
  text-align: center;
}