*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.main-up{
  position: relative;
}
.box-on{
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .5;
}
.box-off{
  display: none;
}
/* 오픈 화면 */
.automobile{
  z-index: 300;
  position: absolute;
  top: 20%;
  right: 30%;
  
}
.automobile-2{
  z-index: 300;
  position: absolute;
  top: 10%;
  right: 50%;
  
}
.automobile-3{
  z-index: 300;
  position: absolute;
  top: 50px;
  right: 50%;
}
.automobile-4{
  z-index: 300;
  position: absolute;
  top: 130px;
  right: 30%;
}
/* 물줄기 */
.Watercourses-left{
  z-index: 300;
  position: absolute;
  top: 410px;
  right: -20px ;
}
.Watercourses-right{
  z-index: 300;
  position: absolute;
  top: 410px;
  left: -20px;
}
.kaunteudaun{
  margin: 20px;
  font-size: 40px;
  
  animation: kaunteu 5s infinite;
}

@keyframes kaunteu {
  0%{
    color: deepskyblue;
  }50%{
    color: rgb(155, 187, 12);
    
  }100%{
    color: red;
   
  }
  
}
.ho{
  margin: 10px;
  width: 420px;
  height: 30px;
  text-align: center;
}
.hoh{
  z-index: 300;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  border-radius: 20px;
  
}
.num{
  z-index: 300;
  position: absolute;
  top:0;
  content:'';
  width: 50%;
  height: 100%;
  background-color: aqua;
}

/*물줄기 방향키 */
.right{
  right: 0;
  border-radius: 0px 20px 20px 0px;
}
.left{
  left: 0;
  border-radius: 20px 0px 0px 20px;
}

/* 모바일 메뉴 */

.icon-main{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  height: 100px;
  background-color: skyblue;
}

.icon{
  color: rgb(68, 68, 232);
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  font-size: 21px;
}

.Sign-up{
  display: flex;
  width: 200px;
  justify-content: space-between;
  
}
.Mobile{
  display: flex;
  align-items: center;
}
.Mobile-no{
  display: none;
}

.loge{
  width: 150px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.loge img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
/* 검색창 */
.Search-settings{
  position: relative;
  display: flex;
  align-items: center;
}
.Search-settings i{
  position: absolute;
  top: 10;
  left: 10px;
  color: #CCC;
}
#search{
  width: 200px;
  height: 30px;
  padding-left: 30px;
  cursor: pointer;
}
#search:focus{
  border: 2px solid blue;
  outline: none;
}


#Search-button{
  height: 30px;
  width: 60px;;
  font-weight: 600;
  border: none;
  background-color: cadetblue;
  box-shadow: 3px 2px 1px rgb(45, 77, 79);
}


 /* 사이드바 */
 a{
  display: block;
  text-decoration: none;
}
li{
  list-style: none;
}
/* 아래칸 배경 */
.Sidebar{
  background-color: #CCC;
  display: flex;
  width: 100%;
  height: 100% ;
  text-align: center;
  position: relative;
}

.Sidebar > li > a{
  font-size: 20px;
  font-weight: 700;
  padding: 16px;
  text-align: center;
  background-color: rgb(124, 111, 187);
}
.Sidebar > li > a:hover{
  background-color: hsl(84, 63%, 46%);
  color: skyblue;
}
.Sidebar > li{
  width: calc(100%/7);
}


.Sidebar-nav{
  overflow: hidden;
  max-height: 0;
  transition: max-height 300ms ease-in-out;

}

.saideuba-on{
  max-height: 100%;
  
}


.Sidebar li ul li > a{
  font-size: 15px;
  color: green;
  padding: 7px;
}
.Sidebar li ul li > a:hover{
  color: darkblue;
  padding: 7px;
  font-weight: 600;
  background-color: deepskyblue;
}

/* 메인 */

.main-A{
  position: relative;
  overflow: hidden;
  max-width: 400px;
}
.moniteo-seteu{
  display: flex;
  height: 200px;

  width: 1600px;
 
}

.moniteo-seteu li{
  height: 200px;
  width: 400px
   
}

.moniteo-seteu li a > img{
  border: 3px solid gold;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.key{
  position: absolute;
  bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: rosybrown;
  color: rgb(11, 167, 123);
  border-radius: 20px;
}

.key-left{
  right: 210px;
}
.key-left:hover{
  background-color: blueviolet;
  color: yellow;
}
.key-right{
  left: 210px;
}
.key-right:hover{
  background-color: blueviolet;
  color: yellow;
}