*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul{
  padding: 0;
}
.main-up{
  position: relative;
}
/* 화면 동영상 */
.bidio{
  width: 100%;
  height: 1200px;
  
}
.bidio video{
  object-fit: cover;
}
/* 전체 화면 */
.bubble{
  width: 100vw;
  overflow: hidden;
}
.box-on{
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: .5;
}
.box-off{
  display: none;
}
/* 오픈 화면 */
.automobile{
  z-index: 200;
  position: absolute;
  top: 120px;
  right: 30%;
  opacity: .5;
  filter: blur(6px);
  
}
.automobile-2{
  z-index: 200;
  position: absolute;
  top: 30px;
  right: 50%;
  filter: blur(6px);
}
.automobile-3{
  z-index: 300;
  position: absolute;
  top: 50px;
  right: 50%;
}
.automobile-4{
  z-index: 300;
  position: absolute;
  top: 130px;
  right: 30%;
}
/* 물줄기 */
.Watercourses-left{
  z-index: 300;
  position: absolute;
  top: 410px;
  right: -20px ;
}
.Watercourses-right{
  z-index: 300;
  position: absolute;
  top: 410px;
  left: -20px;
}
.kaunteudaun{
  margin: 20px;
  font-size: 40px;
  
  animation: kaunteu 5s infinite;
}

@keyframes kaunteu {
  0%{
    color: deepskyblue;
  }50%{
    color: rgb(155, 187, 12);
    
  }100%{
    color: red;
   
  }
  
}

.watercourse{
  margin: 10px;
  width: 420px;
  height: 30px;
  text-align: center;
}
.water-crop{
  z-index: 300;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  border-radius: 20px;
  
}
.num{
  z-index: 300;
  position: absolute;
  top:0;
  content:'';
  width: 50%;
  height: 100%;
  background-color: aqua;
}

/*물줄기 방향키 */
.right{
  right: 0;
  border-radius: 0px 20px 20px 0px;
}
.left{
  left: 0;
  border-radius: 20px 0px 0px 20px;
}

/* 모바일 메뉴 미완성 */
.Sidebar-S nav > li{
  text-align: center;
  width: 200px;
  padding: 16px;
  border-top:2px solid #000 ;
  margin-left: 20px;
}
.Sidebar-S nav{
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 10;
  width: 300px;
  height: 500px;
  background-color: #fff;
  
}
.S-settings{
  overflow: hidden;
  max-height: 0;
}


/* 위에 메뉴 */

.icon-main{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  height: 100px;
  background-color: skyblue;
}

.icon{
  color: rgb(68, 68, 232);
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  font-size: 21px;
}

.Sign-up{
  display: flex;
  width: 200px;
  justify-content: space-between;
  
}
.Mobile{
  display: flex;
  align-items: center;
}
.Mobile-no{
  display: none;
}

.loge{
  width: 150px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.loge img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
/* 검색창 */
.Search-settings{
  position: relative;
  display: flex;
  align-items: center;
}
.Search-settings i{
  position: absolute;
  top: 10;
  left: 10px;
  color: #CCC;
}
#search{
  width: 200px;
  height: 30px;
  padding-left: 30px;
  cursor: pointer;
}
#search:focus{
  border: 2px solid blue;
  outline: none;
}


#Search-button{
  height: 30px;
  width: 60px;;
  font-weight: 600;
  border: none;
  background-color: cadetblue;
  box-shadow: 3px 2px 1px rgb(45, 77, 79);
}


/* 사이드바 */
a{
  display: block;
  text-decoration: none;
}
li{
  list-style: none;
}

/* 아래칸 배경 */
.Sidebar{
  position: relative;
  display: flex;
  width: 100%;
  height: 100% ;
  text-align: center;
}


.Sidebar > li > a{
  font-size: 20px;
  font-weight: 700;
  padding: 16px;
  text-align: center;
  background-color: rgb(124, 111, 187);
}
.Sidebar > li > a:hover{
  background-color: hsl(84, 63%, 46%);
  color: skyblue;
}
.Sidebar > li{
  width: calc(100%/7);
}


.Sidebar-nav{
  overflow: hidden;
  max-height: 0;
  transition: max-height 300ms ease-in-out;
  position: absolute;
  z-index: 20;
  width: calc(100%/7);
}


.saideuba-on{
  max-height: 500px;
}


.Sidebar li ul li > a{
  font-size: 15px;
  color: green;
  padding: 7px;
  border-bottom:2px solid skyblue ;
}
.Sidebar li ul li > a:hover{
  color: darkblue;
  padding: 7px;
  font-weight: 600;
  background-color: deepskyblue;
}

/* 메인 */

.main-A{
  position: relative;
  overflow: hidden;
  max-width: 400px;
}
.moniteo-seteu{
  display: flex;
  height: 200px;
  width: 1600px;
}

.moniteo-seteu li{
  height: 200px;
  width: 400px
   
}

.moniteo-seteu li a > img{
  border: 3px solid gold;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.key{
  position: absolute;
  bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: rosybrown;
  color: rgb(11, 167, 123);
  border-radius: 20px;
}

.key-left{
  right: 210px;
}
.key-left:hover{
  background-color: blueviolet;
  color: yellow;
}
.key-right{
  left: 210px;
}
.key-right:hover{
  background-color: blueviolet;
  color: yellow;
}


/* 미니 물풍선 */
.water-bomb{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(11, 167, 123);
  position: relative;
}
.water-bomb-font{
  text-align: center;
  content: '';
   width: 90px;
   height: 20px;
   border-radius: 20px;
   background-color: rgb(11, 167, 123);
    margin-top: 20px;
    margin: 0 auto;

}
.water-bomb-box{
  width: 100%;
  height: 100%;
  
}
.main-C{
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: end;
  background-image: url('./img/이미지....jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.water-bomb-s{

  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: water-bomb 20s infinite;
}

@keyframes water-bomb{
  0%{
transform: translateX(-100px);
}50%{
  
  transform: translateX(-700px);
}100%{
  transform: translateX(-1600px);
  
  }
}
.water-bomb-num{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color:skyblue;
  
}
/* 오프닝 큰 물풍선 */

.water-balloon-M{
  position: absolute;
  top: 350px;
  left: 45%;
  z-index: 300;
}

.water-balloon-font{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  animation: water-balloon 5s infinite;
  
}
@keyframes water-balloon {
  0%{
    color: red;
  }50%{
    color: rgb(40, 63, 236);
    
  }100%{
    
    color: darkturquoise;
  }
  
}
.water-balloon-Box{
  position: relative;
  width: 200px;
  height: 200px;
  border: 3px solid rgb(38, 185, 243);
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
}

.water-balloon-tap{
  width: 60px;
  height: 15px;
  border-radius: 20px;
  background-color: rgb(38, 185, 243);
  margin: 0 auto;
}
.water-balloon-num{
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color:skyblue;

}
/* 물풍선 게임 */
.Water-balloons-S{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}
.Water-balloons{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid skyblue;
  overflow: hidden;
}

.Water-balloons-font::after{
    
    display: block;
    content: '';
     width: 40px;
     height: 10px;
     border-radius: 20px;
     background-color: skyblue;
      margin-top: 20px;
      margin: 0 auto;
    
    
}
.Water-balloons-num{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.Water-balloons-main{
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.main-E{
  width: 100%;
  height: 400px;
  background-color: rgba(93, 145, 242, 0.2);
}

.balloons-1{
  background-color: turquoise;
  height: 20%;
}
.balloons-2{
background-color: hotpink;
height: 40%;
}
.balloons-3{
background-color: yellow;
height: 60%;
}
.balloons-4{
background-color: tomato;
height: 80%;
}

.main-E button{
  width: 280px;
  height: 80px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  background-color: teal;
  color: skyblue;
}

.Water-balloons-font{
  font-weight: 600;

}
.Water-balloons p{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%,-50%);
  font-weight: 700;
  font-size: 40px;
  color: blue;
}




/* 움직이는 캐릭터 */
.main-D{
  background-image: url('./img/광장.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
 
  width: 100vw;
  height: 300px;
}
.Water-Toy{
  position: relative;
  transform: translate(-350px,0);
}
.carricter13{
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10;
  width: 200px;
  height: 200px;
  animation: carricter 5s normal infinite ease-in-out;
  /* animation-direction:alternate; */
}
.carricter13 > img{
  width: 100%;
  height: 100%;
}
.Waterball{
  position: absolute;
  z-index: 5;
  top: 50px;
  left: 250px;
  width: 80px;
  height: 80px;
  animation: Waterball 5s normal infinite ease-in-out;
}
.Waterball > img{
  width: 100%;
  height: 100%;
}
.carricter-M{
  position: absolute;
  z-index: -3;
  top: -10px;
  left: -10px;
  width: 220px;
  height: 220px;
  filter: blur(6px);
}
.carricter-M >img{
  width: 100%;
  height: 100%;
}

@keyframes carricter {
  0%{
    transform: translate(300px,100px);
    
  }20%{
    
    transform: translate(600px,-50px);
    
  }50%{
    transform: translate(900px,50px);
    
  }70%{
    transform: translate(1200px,50px);
    
  }90%{
    transform: translate(2000px,-20px);
    
    
    
  }100%{
    transform: translate(2100px ,70px);
  }
}

@keyframes Waterball {
  0%{
    transform: translate(300px,120px);
    
  }20%{
    
    transform: translate(600px,-80px);
    
  }50%{
    transform: translate(900px,70px);
    
  }70%{
    transform: translate(1200px,90px);
    
  }90%{
    transform: translate(2000px,-40px);
    
    
  }100%{
    transform: translate(2200px ,60px);
  }
}

/* 아래 슬라이드 */
.footer-A{
  position: relative;
  display: flex;
  height: 450px;
  justify-content: center;
  align-items: center;
  background-color: rgba(93, 145, 242, 0.2);
  background-attachment: fixed;
}
.footer-A section{
  overflow: hidden; 
  max-width: 785px;
  background-color: blanchedalmond;
  
}

.footer-A .Operation{
  display: flex;
  transition: transform 300ms ease-in-out ;
  /* transform: translateX(-204px); */
  /* ▼ 기본값 200px border-box 값 3px*2개 빼고 margi 10px 넣고 제작 ▼ */
  }
  
 
  .footer-A .Operation li {
  
  width: 200px;
  height: 350px;
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border: 3px solid rgba(93, 145, 242, 0.2);
}


.footer-A .Operation li p{
  font-size: 20px;
  font-weight: 600;
  color: rgb(56, 67, 44);
}
.footer-A .Operation li img{
  border: 3px solid gray;
  margin: 0 auto;
 width: 190px;
 height: 200px;
}
.footer-Btn{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 50px;
  color:rgb(0, 131, 183);
  background-color: transparent;
  border: none;

  
}
.Btn-left{
  left: 250px;
}
.Btn-right{
  right: 250px;
}
/* 마지막  */
.footer-B{
  font-size: 16px;
  display: flex;
  border-top: 3px solid darkblue;
  background-color: rgba(93, 145, 242, 0.2);
  flex-direction: column;
  
}
.footer-B p,
.footer-B a{
  color: gray;
}
.font-color-A i{
  color: rgb(196, 196, 79);
}
.font-color-B i{
  color: darkslategrey;
}
.footer-B div{
  display: flex;
  
}
.company{
  position: relative;
  display: flex;
  justify-content: space-around;
}

/* 수리 */
/* a태크 안에 :before 적용 되면 전부 다 적용 됨 주의 */
.company li::before{
  content: '';
  display: inline-block;
  width: 1px;
  height: 20px;
  text-align: center;
  background-color: #666;
margin-right: 50px;
}
.company li:first-child:before{
  content: none;
}
.company li{
  padding: 1rem;
}
.company p{
margin-right: 20px;
}
.address p{
  padding: 10px;
}
.address p:hover,
.company li:hover,
.font-color-B p:hover,
.address p a:hover{
  font-family: 700;
  color: blue;
}
.address p:hover,
.font-color-B p:hover,
.address p a:hover{
  transform: scale(1.1);
  transition: transform 300ms ease-in-out;
  
}


.Address-photo a>img{
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
}


/* 시작 버튼 */
.Start-screen{
  position: relative;
  width: 100vw;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('./img/메인\ 화면3.jpg');
}
.Little-Friend-1{
  position: absolute;
  z-index: 9;
  filter: blur(1.5rem);
  width: 350px;
  height: 320px;
  top: 150px;
  left: 50%;
  animation: Returning-Friends normal infinite 2s ease-in-out;
}
.Little-Friend-1 img{
  width: 100%;
  height: 100%;
}
.Little-Friend-2{
  animation: Returning-Friends normal infinite 2s ease-in-out;
  position: absolute;
  z-index: 10;
  width: 300px;
  height: 300px;
  position: absolute;
  top:160px;
  left: 52%;
}
.Little-Friend-2 img{
  width: 100%;
  height: 100%;
}
.Little-Friend-3{
  animation: Returning-Friends-2 infinite 2s ease-in-out;
  position: absolute;
  z-index: 9;
  filter: blur(1.5rem);
  width: 370px;
  height: 370px;
  top: 80px;
  left: 22%;
}
.Little-Friend-3 img{
  width: 100%;
  height: 100%;
}

.Little-Friend-4{
  animation: Returning-Friends-2 infinite 2s ease-in-out;
  position: absolute;
  z-index: 10;
  width: 320px;
  height: 320px;
  top: 110px;
  left: 24%;
}
.Little-Friend-4 img{
  width: 100%;
  height: 100%;
}


.coordinate{
  position: relative;
  width: 200px;
  height: 200px;
  border: 10px solid skyblue;
  border-radius: 50%;
  display: flex;
  top: 60%;
  left: 50%;
 transform: translateX(-60%);
 cursor: pointer;
}
.pass.on-up{
  display: block;
}
.pass{
  display: none;
  width: 1000px;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
  border: 4px solid #000;
 position: absolute;
 z-index: 11;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.pass button{
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 35px;
  padding: 18px;
  color: red;
}
.pass button i:hover{
  cursor: pointer;
  color: blue;
  transition:color 300ms ease-in-out ;
}
.pass h1{
  text-align: center;
  padding-top: 50px;
}
.pass p{
  text-align: center;
  padding-top: 20px;

}

@keyframes Returning-Friends {
  0%{
    transform: translate(50px,0);
  }50%{
    transform: translate(70px,-20px)rotate(-20deg);
    
  }100%{
    transform: translate(90px,50px);
    
  }
}
@keyframes Returning-Friends-2 {
  0%{
    transform: translate(-50px,0);
    
  }50%{
    
    transform: translate(-70px,20px)rotate(10deg);
  }100%{
    transform: translate(-90px,-50px);
    
  }
}


.coordinate::after{
  content: "";
  display: block;
  position: absolute;
  border-radius: 10px;
  border-top: 30px solid blue;
  border-bottom: 30px solid transparent ;
  border-right: 30px solid transparent;
  border-left:30px solid transparent;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
}
.coordinate::before{
  content: "";
  display: block;
  position: absolute;
  border-radius: 10px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid blue ;
  border-right: 30px solid transparent;
  border-left:30px solid transparent;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);

}
.coordinate p:first-child{
  content: '';
  position: absolute;
  border-radius: 10px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent ;
  border-right: 30px solid blue;
  border-left:30px solid transparent;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.coordinate p:last-child{
  content: '';
  position: absolute;
  border-radius: 10px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent ;
  border-right: 30px solid transparent;
  border-left:30px solid blue;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.Start-game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}
.Start-game:hover{
  color: blue;
}
.Contact-Sharing p{
  background-color: #666;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-right: 10px;
}
.Contact-Sharing p:last-child{
  margin-right: 0px;
  
}

/* footer 마지막 마무리 */

.Contact-Sharing p:nth-child(1):hover{
  color: blue;
  background-color:skyblue;
  transform: scale(1.2);
  transition: transform 300ms ease-in-out;
}
.Contact-Sharing p:nth-child(2):hover{
  color: darkmagenta;
  background-color: chartreuse;
  transform: scale(1.2);
  transition: transform 300ms ease-in-out;
}
.Contact-Sharing p:nth-child(3):hover{
  color: darkblue;
  transform: scale(1.2);
  background-color: aliceblue;
  transition: transform 300ms ease-in-out;
}
.Contact-Sharing p:nth-child(4):hover{
  color: red;
  background-color: darkorange;
  transform: scale(1.2);
  transition: transform 300ms ease-in-out;
}
.information{
  display: flex;
  justify-content: space-between;
  width: 90%;
}


